<h4>Olá</h4>
<p>
  A solicitação de número <%= @collect.protocol_number %> teve seu status atualizado para <%= I18n.t("enums.collects.status.#{@collect.status}") %>
<p>

<p>
  Att,<br>
  Eco Easy - ecoeasy.contato@gmail.com
</p>
