<h4>Olá, <%= @user.name %></h4>
<p>
  Sua senha foi resetada com sucesso.
<p>
  Acesse o aplicativo com as novas credencias e altere sua senha temporária.
</p>
<p>
  <ul>
    <li>Email: <%= @user.email %>.<br></li>
    <li>Senha temporária: <%= @password %>.<br></li>
  </ul>  
</p>
