<div class="col-lg-12">
  <h1 class="page-header"><i class="fa fa-recycle fa-fw"></i> MODULO COLETA DE LIXO DIÁRIA</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="fa fa-map-marker fa-fw"></i> Gerenciar rotas</h4>
    </div>


    <div class="panel-body">
      <div class="row">
        <div class="col-lg-8">
          <h5>Seleciona a agenda do camminhoneiro: </h5>
          <%= select_tag 'schedules',
              options_from_collection_for_select(@schedules, 'firebase_reference_access', 'trucker_schedule_label'),
              include_blank: 'Selecione uma opção', class: "form-control", onchange: "truckerTracking(this.value);"
          %>
        </div>
      </div>
      <br>
      <div class="maps" id="truckerTracking"></div>
    </div>
  </div>
</div>
