<div class="col-lg-12">
  <h1 class="page-header"><i class="fa fa-globe fa-fw"></i>ACOMPANHAMENTO EM TEMPO REAL </h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="fa fa-map-marker fa-fw"></i> Rastrear supervisores</h4>
    </div>


    <div class="panel-body">
      <div class="row">
        <div class="col-lg-8">
          <h5>Selecione o supervisor: </h5>
          <%= select_tag 'supervisors',
              options_from_collection_for_select(@supervisors, 'firebase_reference_access', 'name'),
              include_blank: 'Selecione uma opção', class: "form-control", onchange: "supervisorTracking(this.value);"
          %>
        </div>
      </div>
      <br>
      <div class="maps" id="supervisorTracking"></div>
    </div>
  </div>
</div>
