<div class="col-lg-12">
  <h1 class="page-header">CONFIGURAÇÕES</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Configurações</h4>
    </div>
    <br/>

    <div class="panel-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-3">
          <%= render partial: 'template_contestations_component' %>
        </div>

        <div class="col-lg-3">
          <%# COMPONENT %>
        </div>

        <div class="col-lg-3">
          <%# COMPONENT %>
        </div>

        <div class="col-lg-3">
          <%# COMPONENT %>
        </div>
      </div>
    </div>
  </div>
</div>
