<div class="col-lg-12">
  <h1 class="page-header">MODULO INFRAÇÕES</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Infrações</h4>
    </div>
    <br/>

    <div class="panel-body">

      <div class="reports-in-maps">
        <div class="panel panel-default">
          <div class="panel-heading">
            <input id="toggle-trigger" type="checkbox" data-toggle="toggle">
            <strong> Mapa de Calor</strong>
          </div>

          <div id="map-collect-reports" class="maps"></div>
        </div>
      </div>

      <div class="table-responsive">
        <%= render partial: 'backoffice/infringements/reports/table_results' %>
      </div>
    </div>
  </div>
</div>


<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    var locations = <%= raw @infringements.pluck(:latitude, :longitude).compact %>

    document.addEventListener("DOMContentLoaded", function() {
      showCollectsOnMaps(locations);

      $('#toggle-trigger').change(function() {
        if ( $(this).prop('checked') ) {
          heatMaps(locations);
        } else {
          showCollectsOnMaps(locations);
        }
       });
    });
  </script>
<% end %>
