<div class="col-lg-12">
  <h1 class="page-header"></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Infrações</h4>
    </div>
    <br/>

    <div class="panel-body">

      <%= render partial: 'backoffice/evidences/shared/maps', locals: { object: @infringements } %>

      <div class="table-responsive">
        <%= render partial: 'backoffice/infringements/reports/table_results' %>
      </div>
    </div>
  </div>
</div>
