<div class="col-lg-12">
  <h1 class="page-header">MODULO INFRAÇÕES</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Infração
        <% if @infringement.mulct? %>
          <% unless @infringement.paid_out? %>
            <%= link_to 'Baixa de pagamento', backoffice_infringement_path(@infringement, infringement: {status: :paid_out}),
                  class: 'btn btn-warning pull-right', style: 'margin-top: -5px',
                  method: :put, data: { confirm: 'Tem certeza que deseja fazer isto?' } %>
          <% else %>
            <button type="button" name="button" class="btn btn-info pull-right" style="margin-top: -5px" disabled>BOLETO PAGO</button>
          <% end %>
        <% end %>
      </h4>
    </div>


    <div class="panel-body">
      <%# Table %>
      <div class="table-responsive">
        <%= render partial: 'backoffice/infringements/partials/table_results' %>
      </div>

      <%# Carousel %>
      <div class="carousel-container col-lg-12 text-center">
        <%= render partial: 'backoffice/infringements/partials/carousel' %>
      </div>

      <%# Comments Feed %>
      <div class="comments-feed">
        <%= render partial: 'backoffice/infringements/partials/comment_fields' %>
      </div>
    </div>
  </div>
</div>
