<div class="col-lg-12">
  <h1 class="page-header">MODULO INFRAÇÕES</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Infração</h4>
    </div>


    <div class="panel-body">
      <%# Table %>
      <div class="table-responsive">
        <%= render partial: 'backoffice/infringements/partials/table_results' %>
      </div>

      <%# Carousel %>
      <div class="carousel-container col-lg-12 text-center">
        <%= render partial: 'backoffice/infringements/partials/carousel' %>
      </div>

      <%# Comments Feed %>
      <div class="comments-feed">
        <%= render partial: 'backoffice/infringements/partials/comment_fields' %>
      </div>
    </div>
  </div>
</div>
